/* You can add global styles to this file, and also import other style files */
body{
  background-color: #004050;
  background-image: url("./assets/img/a11-03.jpg");
  background-color: transparent;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

.titulo1 {
  background:linear-gradient( to left, transparent 10%, rgb(209, 209, 209) 80% );
}
